[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pymongo = "*"
flask-admin = "*"
flask-sqlalchemy = "*"
flask-pymongo = "*"
wtforms = "*"
flask-basicauth = "*"
flask-cors = "*"
google-auth = "*"
google-auth-oauthlib = "*"
google-auth-httplib2 = "*"
google-api-python-client = "*"
google-cloud-bigquery = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.13"
